@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
.tour-card {
    width: 100%;
    max-width: 360px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tour-card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tour-card .btn {
    margin-top: auto;
}

@media (max-width: 768px) {
    .tour-card {
        width: 100%;
        min-height: 580px;
    }
}
